webAPIMovies/bin/Debug/net8.0/appsettings.Development.json
webAPIMovies/bin/Debug/net8.0/appsettings.json
webAPIMovies/bin/Debug/net8.0/Azure.Core.dll
webAPIMovies/bin/Debug/net8.0/Azure.Identity.dll
webAPIMovies/bin/Debug/net8.0/Humanizer.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.Identity.Client.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.OpenApi.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
webAPIMovies/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
webAPIMovies/bin/Debug/net8.0/Mono.TextTemplating.dll
webAPIMovies/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
webAPIMovies/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
webAPIMovies/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
webAPIMovies/bin/Debug/net8.0/System.CodeDom.dll
webAPIMovies/bin/Debug/net8.0/System.Composition.AttributedModel.dll
webAPIMovies/bin/Debug/net8.0/System.Composition.Convention.dll
webAPIMovies/bin/Debug/net8.0/System.Composition.Hosting.dll
webAPIMovies/bin/Debug/net8.0/System.Composition.Runtime.dll
webAPIMovies/bin/Debug/net8.0/System.Composition.TypedParts.dll
webAPIMovies/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
webAPIMovies/bin/Debug/net8.0/System.Drawing.Common.dll
webAPIMovies/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
webAPIMovies/bin/Debug/net8.0/System.Memory.Data.dll
webAPIMovies/bin/Debug/net8.0/System.Runtime.Caching.dll
webAPIMovies/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
webAPIMovies/bin/Debug/net8.0/System.Security.Permissions.dll
webAPIMovies/bin/Debug/net8.0/System.Windows.Extensions.dll
webAPIMovies/bin/Debug/net8.0/webAPIMovies
webAPIMovies/bin/Debug/net8.0/webAPIMovies.deps.json
webAPIMovies/bin/Debug/net8.0/webAPIMovies.dll
webAPIMovies/bin/Debug/net8.0/webAPIMovies.pdb
webAPIMovies/bin/Debug/net8.0/webAPIMovies.runtimeconfig.json
webAPIMovies/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
webAPIMovies/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
webAPIMovies/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
webAPIMovies/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
webAPIMovies/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
webAPIMovies/obj/project.assets.json
webAPIMovies/obj/project.nuget.cache
webAPIMovies/obj/webAPIMovies.csproj.nuget.dgspec.json
webAPIMovies/obj/webAPIMovies.csproj.nuget.g.props
webAPIMovies/obj/webAPIMovies.csproj.nuget.g.targets
webAPIMovies/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
webAPIMovies/obj/Debug/net8.0/apphost
webAPIMovies/obj/Debug/net8.0/staticwebassets.build.json
webAPIMovies/obj/Debug/net8.0/webAPIMovies.AssemblyInfo.cs
webAPIMovies/obj/Debug/net8.0/webAPIMovies.AssemblyInfoInputs.cache
webAPIMovies/obj/Debug/net8.0/webAPIMovies.assets.cache
webAPIMovies/obj/Debug/net8.0/webAPIMovies.csproj.AssemblyReference.cache
webAPIMovies/obj/Debug/net8.0/webAPIMovies.csproj.CopyComplete
webAPIMovies/obj/Debug/net8.0/webAPIMovies.csproj.CoreCompileInputs.cache
webAPIMovies/obj/Debug/net8.0/webAPIMovies.csproj.FileListAbsolute.txt
webAPIMovies/obj/Debug/net8.0/webAPIMovies.dll
webAPIMovies/obj/Debug/net8.0/webAPIMovies.GeneratedMSBuildEditorConfig.editorconfig
webAPIMovies/obj/Debug/net8.0/webAPIMovies.genruntimeconfig.cache
webAPIMovies/obj/Debug/net8.0/webAPIMovies.GlobalUsings.g.cs
webAPIMovies/obj/Debug/net8.0/webAPIMovies.MvcApplicationPartsAssemblyInfo.cache
webAPIMovies/obj/Debug/net8.0/webAPIMovies.MvcApplicationPartsAssemblyInfo.cs
webAPIMovies/obj/Debug/net8.0/webAPIMovies.pdb
webAPIMovies/obj/Debug/net8.0/ref/webAPIMovies.dll
webAPIMovies/obj/Debug/net8.0/refint/webAPIMovies.dll
webAPIMovies/obj/Debug/net8.0/staticwebassets/msbuild.build.webAPIMovies.props
webAPIMovies/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.webAPIMovies.props
webAPIMovies/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.webAPIMovies.props
webAPIMovies/obj/webAPIMovies.csproj.EntityFrameworkCore.targets
